<p>video works!</p>
<div>
  <iframe
    width="400"
    height="300"
    src="https://www.youtube.com/embed/UecdkexIZCA"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
<div>
  <iframe
    width="400"
    height="300"
    src="https://www.youtube.com/embed/MDZRll-HQmY"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
<div>
  <iframe
    width="400"
    height="300"
    src="https://www.youtube.com/embed/kGi1dL41DJw"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
<div>
  <!-- <button (click)="loadPreviousVideo()">Previous</button>
  <button (click)="loadNextVideo()">Next</button> -->
</div>
<div>
  <iframe
    id="video-iframe"
    width="400"
    height="300"
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>
